<div style="padding: 10rem; text-align: center; background-color: yellow; height: 100%">
  <div style="display: flex; justify-content: space-evenly;">

    <p class="spinning" style="transform: rotate(45deg) translate(200px);">
      <strong>Title:</strong>
      <%= @project.title %>
    </p>

    <p id="notice"><%= notice %></p>
    <p class="spinning" style="height: 200px; width: 300px; transform: rotate(90deg) translate(200px);">
      <strong>Description:</strong>
      <%= @project.description %>
    </p>

    <div class="spinning" style="transform: rotate(-45deg) translate(-200px);">
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Back', projects_path %>
    </div>
  </div>
</div>
